*{

    text-align: center;
    background-color: bisque;
}
.columnOne{

  
    background-color: #a2bbcf;
    width: 490px;
    height: 50px;
    margin:0 auto;
    padding:10px 0px;
    border-radius: 1%;
    margin-bottom: 20px;

}

.displayResult {

    background-color: #a2bbcf;
    text-align: end;
    font-size: 40px;
    margin-right: 10px;
}

.calculator{

    background-color: #205b7a;
    padding:20px 10px;
    width: 510px;
    height: auto;
    border-radius: 1%;
    margin: 0 auto;
}

.calculatorButtons{
    display: inline-flex;
    font-size: larger;
    text-align: center;
    font-weight: bold;
    border: 1px black solid;
}



.key{

    padding:10px;
    margin:0;
    background-color: #142f44;
    border: 1px black solid;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px; 
    color:beige;
    font-size: 48px;
    font-weight: bolder;
}

#clear{

    color:red;
}

