.calculator{

    display: flex;
    font-size: larger;
    text-align: center;
    font-weight: bold;

}



.key{

    padding:10px;
    margin:0;
    background-color: bisque;
    border: 1px black solid;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px; 

}

